.button {
    @include font(700, 16px, 0.06em, 1.87);
    display: inline-block;
  min-width: 200px;
  max-width: 200px;
  min-height: 50px;
  text-align: center;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: transparent;
  color: $contrast-white-color;
  background-color: $accent-color;
}


// .button {
//   
//   

//   
//   &:hover,
//   &:focus,
//   &:active {
//     cursor: pointer;
//     outline-color: $accent-color;
//   }
// }

.button--subscribe {
  @extend .button;
  padding: 13px 29px;
  position: relative;
  text-align: left;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  margin: 0;

  &::after {
    position: absolute;
    right:28px;
    top:13px;
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url(../images/icon-send.svg);
    background-position: center;
  }
}
