.contacts {
  margin-right: 0;
}
.contacts__list {
  @media screen and (min-width: $desktop){
    display: flex;
  }
}
.contacts__item {
    @include font(500, 12px, 0.02em, 1.17);

      @media screen and (min-width: $desktop){
    &:not(:last-child) {
  margin-right: 50px;
  
}
}
.contacts__link {
  display: block;
  
  color: $text-color;
  align-items: center;
  transition: color $tdur $ttf;
  &:hover,
  &:focus {
    color: $accent-color;
  }


  }
}
.contacts__icon {
  fill: $text-color;

  display: inline-block;
  margin-right: 8px;
  transition: fill $tdur $ttf;
  &--envelope {
    width: 14px;
    height: 10px;
  }
  &--smartphone {
    width: 10px;
    height: 14px;
  }

  .contacts__link:hover &--envelope,
  .contacts__link:hover &--smartphone {
    fill: $accent-color;
  }

}

// .contacts {
//   margin-left: auto;
//   align-items: center;
// }
// .contacts__item:not(:last-child) {
//   margin-right: 50px;
// }
