.contacts {
  margin-right: 0;
}
.contacts__list {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}
.contacts__item {
  @include font(500, 12px, 0.02em, 1.17);
  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin: 0 50px 0 0;
    }
  }
  .contacts__link {
    display: block;

    color: $text-color;
    align-items: center;
    transition: color $tdur $ttf;
    &:hover,
    &:focus {
      color: $accent-color;
    }
    @media screen and (min-width: $tablet) {
      display: flex;
      text-align: center;
    }
  }
}
.contacts__icon {
  fill: $text-color;

  display: block;
  margin-right: 8px;
  transition: fill $tdur $ttf;
  .contacts__link:hover &,
  .contacts__link:hover & {
    fill: $accent-color;
  }
}

.contacts__icon--envelope {
  @extend .contacts__icon;
  width: 14px;
  height: 10px;
}
.contacts__icon--smartphone {
  @extend .contacts__icon;
  width: 10px;
  height: 14px;
}
