.filter__list {
  padding: 60px 0 40px 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: -15px;

  @media screen and (min-width: $tablet) {
    justify-content: center;
  }
}
.filter__item {
  margin: 0 0 15px 0;

  &:not(:last-child) {
    margin-right: 8px;
  }
}
.filter__button {
  display: block;
  padding: 6px 22px;
  border: 0;
  @include font(500, 16px, 0.03em, 1.62);
  color: $title-text-color;
  background-color: $bg-color-light;
  border-radius: 4px;

  transition: color $tdur $ttf, background-color $tdur $ttf,
    box-shadow $tdur $ttf;
  &:hover,
  &:focus,
  &:active {
    color: $contrast-white-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    outline-color: $accent-color;
    cursor: pointer;
  }
}
