.gallery__list {
  padding: 0 0 60px 0;

   @media screen and (min-width:$tablet){
     display: flex;
     flex-wrap: wrap;
   }
}
.gallery__item {
  &:not(:last-child) {
    margin: 0 0 30px 0;
  }
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
 @media screen and (min-width:$tablet) {
    flex-basis: calc((100% - 30px) / 2);
    &:nth-child(odd) {
      margin-right: 30px;
      }
      &:nth-last-child(-n + 2) {
        margin-bottom:0;
      }
    }
  
}

.gallery__thumb {
  position: relative;
  overflow: hidden;
}
.gallery__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 63px 24px;

  background-color: $accent-color;

  transform: translateY(100%);
  transition: transform $tdur $ttf;

  .gallery__item:hover & {
    transform: translateY(0);
  }
}
.gallery__text {
  height: 170px;
  margin: 0;
  font-style: normal;

  @include font(400, 18px, 0.03em, 1.56);

  color: $contrast-white-color;
  overflow: hidden;
}

.gallery__name {
  border: 1px solid $border-cards;
  border-top: 0;
  padding: 20px 24px;
}
.gallery__title {
  margin-bottom: 4px;

  @include font(700, 18px, 0.06em, 2);
  color: $title-text-color;
}
.gallery__subtitle {
  margin: 0;
  @include font(400, 16px, 0.03em, 1.87);
  color: $text-color;
}

// .gallery__list {
//   flex-wrap: wrap;
//   box-sizing: border-box;
// }

// .gallery__item {
//   flex-basis: calc((100% - 2 * 30px) / 3);
//   margin: 0 30px 30px 0;
//   &:nth-child(3n) {
//     margin-right: 0;
//   }
//   &:nth-last-child(-n + 3) {
//     margin-bottom: 0;
//   }
//   &:hover {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//       1px 4px 6px rgba(0, 0, 0, 0.16);
//   }
// }

// .gallery__name {
//   border: 1px solid $border-cards;
//   padding: 20px 24px;

//   text-align: left;
//   border-top: 0;
// }

// .gallery__title {
//   margin-bottom: 4px;

//   @include font(700, 18px, 0.06em, 2);
//   color: $title-text-color;
// }
// .gallery__subtitle {
//   margin: 0;

//   @include font(400, 16px, 0.03em, 1.87);

//   color: $text-color;
// }
