.gallery__list {
  padding: 0 0 60px 0;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}
.gallery__item {
  margin: 0 0 30px 0;
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:last-child {
    margin: 0;
  }

  @media screen and (min-width: $tablet) {
    margin: 0 30px 30px 0;
    flex-basis: calc((100% - 30px) / 2);
    @media screen and (min-width: $desktop) {
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 2 * 30px) / 3);
    margin-right: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.gallery__thumb {
  position: relative;
  overflow: hidden;
}
.gallery__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 63px 24px;

  background-color: $accent-color;

  transform: translateY(100%);
  transition: transform $tdur $ttf;

  .gallery__item:hover & {
    transform: translateY(0);
  }
}
.gallery__text {
  height: 170px;
  margin: 0;
  font-style: normal;

  @include font($fw-main, 18px, 1.56, $ls-main);

  color: $contrast-white-color;
  overflow: hidden;
}

.gallery__name {
  border: 1px solid $border-cards;
  border-top: 0;
  padding: 20px 24px;
}
.gallery__title {
  margin-bottom: 4px;

  @include font(700, 18px, 2, 0.06em);
  color: $title-text-color;
}
.gallery__subtitle {
  margin: 0;
  @include font($fw-main, 16px, 1.87, $ls-main);
  color: $text-color;
}
