.logo--primary {
  font-family: $font-logo;
  @include font(700, 24px, 1.17, $ls-main);
  color: $logo;

  @media screen and (min-width: $desktop) {
    @include font(700, 26px, 1.192, $ls-main);
  }
}
.logo__accent {
  color: $accent-color;
}

.logo--secondary {
  @extend .logo--primary;
  display: inline-block;
  margin: 0 0 20px 0;
  color: $contrast-white-color;
}
