.site-nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-right: 84px;

   @media screen and (min-width: $desktop) {
     margin-right: 305px;
   }
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}



.site-nav__link {
  display: inline-block;
  padding: 32px 0;
  @include font(500, 14px, 0.02em 1.14);
  color: $title-text-color;
  transition: color $tdur $ttf;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.current {
  position: relative;
  color: $accent-color;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;

    content: "";
    background-color: $accent-color;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
}

// .site-nav__link {

// }
