body {
  font-family: $font-main;
  @include font();
}
// section {
//   padding: 94px 0;
// }
body.modal-open {
  overflow: hidden;
}
a {
  text-decoration: none;
}
img {
  display: block;
  margin: 0;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width:100%;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
// .flexbox {
//   display: flex;
// }
.list {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}
// .link {
//   @include font(500, 14px, 0.02em, 1.14);
// }
.title {
  @include font(700, 36px, 0.03em, 1.17);
  margin: 0 0 50px 0;
  text-align: center;

  color: $title-text-color;
}
.subtitle {
  @include font(700, 14px, 0.03em, 1.14);
  text-transform: uppercase;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

h1, h2, h3 {
  margin:0;
}
