.clients {
  padding: 60px 0;
}
.clients__title {
  @include font(700, 28px, 0.03em, 1.17);
  margin: 0 0 30px 0;
  text-align: center;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
.clients__item {
  margin-bottom: 30px;
  border: 1px solid $border-clients;
  border-radius: 4px;
  flex-basis: calc((100% - 30px) / 2);
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-child(2n + 1) {
    margin-right: 30px;
  }
  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 2 * 30px) / 3);
    margin-right: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
   @media screen and (min-width: $desktop) {
flex-basis: calc((100% - 5 * 30px) / 6);
margin-right: 30px;
&:nth-child(3n) {
      margin-right: 30px;
    }

     &:nth-child(6n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 6) {
    margin-bottom: 0;
  }
   }
}
.clients__link {
  transition: border $tdur $ttf;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  // width: 210px;
  // height: 90px;
}
.clients__icon {
  fill: $border-clients;
  transition: fill $tdur $ttf;

  .clients__item:hover &,
  .clients__item:focus & {
    fill: $accent-color;
  }
}

// .clients__title {
//   @extend .title;
// }

// .clients__list {
//   flex-wrap: wrap;
// }
// .clients__item {
//   width: 170px;
//   height: 90px;
//   margin-right: 30px;
//   margin-bottom: 20px;

//   &:nth-child(6n) {
//     margin-right: 0;
//   }
//   &:nth-last-child(-n + 6) {
//     margin-bottom: 0;
//   }
// }

// .clients__link {
//   justify-content: center;
//   align-items: center;
// width: 170px;
// height: 90px;

//

//
// }

// .clients__icon {
//   fill: $border-clients;
//   transition: fill $tdur $ttf;

//   .clients__link:hover &,
//   .clients__link:focus & {
//     fill: $accent-color;
//   }
// }
