.features {
  padding: 60px 0;
}
.features__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.features__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &::before {
    content: "";
    display: block;
    height: 120px;
    margin-bottom: 30px;

    border-radius: 4px;
    background-color: $bg-color-light;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:nth-child(1)::before {
    background-image: url(../images/feature-antenna.svg);
  }

  &:nth-child(2)::before {
    background-image: url(../images/feature-clock.svg);
  }

  &:nth-child(3)::before {
    background-image: url(../images/feature-diagram.svg);
  }

  &:nth-child(4)::before {
    background-image: url(../images/feature-astronaut.svg);
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 30px) / 2);
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
    @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - 3 * 30px) / 4);
      margin-bottom: 0;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
.features__subtitle {
  @extend .subtitle;
  margin: 0 0 10px 0;
  text-align: center;
  color: $title-text-color;
  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

.features__text {
  @include font($fw-main, $fs-main, 1.71, $lh-main);
  margin: 0;
  color: $text-color;
}
