.footer {
  background-color: $bg-color-dark;
  padding: 60px 0;
}
.footer .container {
  text-align: center;
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
.footer__nav {
  margin: 0 0 60px 0;
  @media screen and (min-width: $desktop) {
    text-align: left;
    margin: 0 70px 0 0;
  }
}
.address__post {
  display: inline-block;
  margin: 0 0 8px 0;
  font-style: normal;
  @include font($fw-main, $fs-main, 1.71, $ls-main);
  color: $contrast-white-color;
}
.address__link {
  @include font($fw-main, $fs-main, 1.71, $ls-main);
  display: inline-block;
  margin-bottom: 9px;
  font-style: normal;
  color: $contrast-text-color;
  transition: color $tdur $ttf;
  &:not(:last-child) {
    margin-bottom: 9px;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.footer__social {
  margin: 0 0 60px 0;
  @media screen and (min-width: $desktop) {
    margin: 0;
  }
}
.footer__subtitle {
  @extend .subtitle;
  display: block;
  margin: 0 0 20px 0;

  color: $contrast-white-color;
  @media screen and (min-width: $desktop) {
    margin-top: 12px;
    width: 100%;
    text-align: left;
  }
}

.footer__nav-social {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    padding: 0 74px 0 61px;
    @media screen and (min-width: $desktop) {
      padding: 0;
      margin: 0 93px 0 0;
    }
  }
}
.footer-form {
  margin-left: auto;
}
