.header-menu {
    @media screen and (max-width: $tablet) {
        display:none;
      }
}

.header {
    padding: 16px 15px;
        border-bottom: 1px solid $header-border;
      }



// .header {
//     border-bottom: 1px solid $header-border;
//   }
//   .header .container {
//     justify-content: flex-start;
//     align-items: center;
//   }
  