.header-menu {
  @media screen and (max-width: $tablet) {
    display: none;
  }
}
.header {
  border-bottom: 1px solid $header-border;
}
.header .container {
  padding: 16px 15px;
}

// .header {
//     border-bottom: 1px solid $header-border;
//   }
//   .header .container {
//     justify-content: flex-start;
//     align-items: center;
//   }
