.header {
  border-bottom: 1px solid $header-border;
   position: fixed;
}
.header__container {
  @extend .container;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 position: relative;

  @media screen and (min-width: $tablet) {
    padding: 0 15px;
  }
}
.header-menu {
  display: none;
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: $contrast-white-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    text-align: center;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
  }

  &.is-open {
    display: block;
  }
}

.menu-button {
  display: inline-flex;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;

  & .icon-close-burger {
    display: none;
  }
  &.is-open .icon-close-burger {
    display: block;
  }

  & .icon-menu-burger {
    display: block;
  }
  &.is-open .icon-menu-burger {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.site-nav__list {
  padding: 40px 0;
  @media screen and (min-width: $tablet) {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 84px 0 88px;
  }

  @media screen and (min-width: $desktop) {
    margin: 0 305px 0 93px;
  }
}
.site-nav__item:not(:last-child) {
  margin: 0;

  @media screen and (min-width: $tablet) {
    margin: 0 50px 0 0;
  }
}

.site-nav__link {
  display: inline-block;
  padding: 32px 0;
  @include font(500, $fs-main, $lh-main, 0.02em);
  color: $title-text-color;
  transition: color $tdur $ttf;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (max-width: 767px) {
    padding: 22px 0;
    @include font(500, 18px, 1.17, 0.02em);
  }
}
.current {
  position: relative;
  color: $accent-color;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;

    content: "";
    background-color: $accent-color;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
}
.contacts {
  @media screen and (max-width: 767px) {
    padding: 0 0 60px 0;
  }
  margin-right: 0;
}
.contacts__list {
  display: inline-block;
  @media screen and (max-width: $tablet) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}
.contacts__item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin: 0 30px 0 0;
    }
  }
  .contacts__link {
    display: block;
    @include font(500, 18px, 1.17, 0.02em);
    color: $text-color;
    align-items: center;
    transition: color $tdur $ttf;
    &:hover,
    &:focus {
      color: $accent-color;
    }
    @media screen and (min-width: $tablet) {
      display: flex;
      text-align: center;
      @include font(500, 12px, 1.17, 0.02em);
    }
    @media screen and (min-width: $desktop) {
      @include font(500, $fs-main, $lh-main, 0.02em);
    }
  }
}
.contacts__icon {
  fill: $text-color;
  display: inline-block;
  margin-right: 8px;
  transition: fill $tdur $ttf;
  .contacts__link:hover &,
  .contacts__link:hover & {
    fill: $accent-color;
  }
}

.contacts__icon--envelope {
  @extend .contacts__icon;
  width: 14px;
  height: 10px;
}
.contacts__icon--smartphone {
  @extend .contacts__icon;
  width: 10px;
  height: 14px;
}
