.hero__container {
  @extend .container;
  margin: 0 auto;
  padding: 118px 60px;
  text-align: center;
  height: 400px;

  max-width: 500px;
  @media screen and (min-width: $desktop) {
    max-width: 700px;
    padding: 200px 0 0 0;
    height: 600px;
  }
}
.hero__overlay {
  background-color: $bg-color-dark;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 1600px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-banner.jpg);


  @media screen and (max-width: 767px) 
  {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/hero-banner.jpg);
    


    @media screen and (min-device-pixel-ratio:2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) 
      {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/mobile/hero-banner@2x.jpg);
    }
    }
@media screen and (min-width: $tablet)
 {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/hero-banner.jpg);
   

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tablet/hero-banner@2x.jpg);
    }
     }

    @media screen and (min-width: $desktop) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-banner.jpg);
   
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-banner@2x.jpg);}
    }
     
  }




.hero__title {
  @include font(900, 26px, 1.62, 0.06em);
  text-transform: uppercase;
  margin: 0 0 30px 0;
  color: $contrast-white-color;
  text-align: center;
  @media screen and (min-width: $desktop) {
    @include font(900, 44px, 1.36, 0.06em);
  }
}
  