.team {
  padding: 60px 0;
  background-color: $bg-color-light;
}
.team__title {
  @extend .title;
  margin: 0 0 30px 0;
  text-align: center;
}
.team__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;

  background-color: $contrast-white-color;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 30px) / 2);
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 4 * 30px) / 4);
    margin: 0 30px 20px 0;

    &:nth-child(4n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}

.team__description {
  padding: 30px 0 24px 0;
}
.team__subtitle {
  @include font(500, 16px, 1.19, $ls-main);
  margin: 0 0 10px 0;
  text-align: center;
  color: $title-text-color;
}

.team__text {
  @include font($fw-main, 16px, 1.88, $ls-main);
  text-align: center;
  color: $text-color;
  margin: 0 0 16px 0;
}
